<head>
    <link rel="stylesheet" href="assignment style.css">
</head>

<p class="homebutton"><a href="../index.html">Home</a></p>
	<p>From the "GCFLearnFree: Internet Safety" activity, I learned that cookies track what you have done. I never knew what cookies were; I always thought that cookies were just the things that is saved on the website (I.e. your login info, or items in a shopping cart). Some websties use tracking cookies so that they can recommend more things to you. Other than this, I think I pretty much know everything else about safety. I think a lot of internet safety is just common sense. I have something to say about the password example that goes "m#P52s@ap$V". I recall reading or watching a video that said random passwords like this are more likely to be found out by a bot because a bot would not try random words, a bot would try to use random character to find this out. This is all memory from a video and/or article I saw a few years ago, so I could be wrong. I can use my knowledge of safety to help my friends with something if I see that they are doing something that seems a little weird. 
	From the "TutorialsPoint: Internet Security" activity, I learned about IPSec, which is a set of protocols that provides security at the network level. I also learned about SSL, which is a security protocol that helps with privacy, integrity, and authentication issues. Everything else on the website was things that I already knew. I know about email scams and viruses. I can use my knowledge of scams and viruses to help prevent a scam or virus happening to myself, or someone else I may know. 

	From the "Practice Web Browser Safety" Acitvity, my Google Chrome is up to date, my extensions are up to date, my useless extensions were removed a long time ago, I did not clear my cache, and I went to YouTube on an incognito tab. I already knew that going to a webstite on incognito would be the same as visiting a website for the first time, though. 

	From the "Use Anti-Malware Software to Scan your System" activity, I used my Avast antivirus to scan my PC, and I have not found any viruses.
</p> 