<head>
    <link rel="stylesheet" href="assignment style.css">
</head>

<p class="homebutton"><a href="../index.html">Home</a></p>
	<p>From the "GCF Global: Email Basics" activity, I already knew most of the things that were talked about, like what an email is, some functions of an email, how to figure out what is a scam email, and how to email people properly (Use proper language and emotion). I can use this knowledge in the future though to help someone if they are struggling with writing an email, or just want to get started with trying to use email. 
	From the "TutorialsPoint: E-mail Overview" activity, I did not learn anything new. I already knew everything that was talked about in this activity, and it was mostly just review for me. I can use my knowledge of emails though to maybe explain to someone about emails, what they do, and why they are so helpful. 

	From the "Send, recieve, and respond to email" activity, I did not learn anything new. I have known how to send, recieve, and respond to emails for as long as I have known about emails. I send emails all the time to talk to teachers, my counselor, my friends, or customer support for a service (Usually a video game). I can use my knowledge of how to write emails to help someone write an email, or help myself write proper emails. 

	From the "Wikipedia: Mozzila Thunderbird" activity, I learned about "Mozzila Thunderbird". I have never heard of this program before, nor have I ever used it. I can use this new knowledge to help tell people about chat systems, and what Mozzila Thunderbird was. 

	From the "Review Wikipedia: Email spoofing" activity, I did not really learn anything new. I already knew about fake emails and email spoofing. It is one of those things you learn in school at a young age, or on the internet for some random reason. I can use my knowledge on this to help myself or someone else from not being scammed by a fake email.
</p> 