<head>
    <link rel="stylesheet" href="assignment style.css">
</head>

<p class="homebutton"><a href="../index.html">Home</a></p>
	<p>From the "TutorialsPoint: Internet Services" activity, I learned about the existence of various communication services. What I found to be the most interesting topic, however, was the "Multi-point Control Unit" or "MCU" for short. There is a thing called "Point-to-Point" which is a video conferencing mode that directly links two locations (Computers) together. MCU, however, has a sort of a middle man approach to it. It allows more than two people to video chat, but all the members are not linked to a single members location, but instead are linked through a sepereate location. I can use this knowledge in the future to have something to talk about with my friends; I video chat a lot with my friends. 

	From the "TutorialsPoint: Internet Collaboration Overview" activity, I did not really learn many new things, but I did learn about the existence of "IMS". Which is what video sharing is. IMS services allow users to switch from voice calls to video streaming. I think that this is neat. This activity also asked to sign up for various communication apps. 
	For Skype, I have not used it in years. I used to use it all the time to talk with my friends, or talk with them while we play video games together. It was a great tool at the time, and was very fun to use. It was, however, overtaken by many young people by the app called "Discord". Around 2015 and before, most young people used Skype only to play video games, but then Discord was created, and most people use Discord now for communication. 
	For Google Hangouts, I have not used this in years. I never really used it much in the first place. I used it a few times back in 2013 or 2014 to talk with a friend (His parents did not let him use Skype). 
	For WhatsApp, I have not used this in years either. I used it briefly around 2012 which was when I got my first phone. I used it only to be in my Familys group chat, but I never checked or talked in it, and I just uninstalled it after some time. 
	For Snapchat, I use this all the time. In fact, I checked my Snapchat a few times while doing these activities. I do not use Snapchat for calls/video calls, though. 

	From the "Remote Desktop" activites, I learned about "Chrome Remote Desktop". I had always seen the "Screen share" (I think this is the same button as "Chrome Remote Desktop") button on my PC whenever I watch a video, but I never clicked on it. I think this program seems really cool, and would be helpful to use if you are trying to help someone who has computer trouble, but cannot physically be there to help them.
</p> 