<head>
    <link rel="stylesheet" href="assignment style.css">
</head>

	<p class="homebutton"><a href="../index.html">Home</a> | 
		<a href="../index.html">Home</a> |
		<a href="../index.html">Home</a></p>
	<p> From the "Internet Basics" activity, I learned that you access a website by sending a request through physical wires to a websites server. I never realized that wireless devices relied on physical wires; I knew that they did, I just never realized it. I can use this knowledge to tell someone about the internet, and how it works. From the "Internet Technologies" activity, I learned that the internet was created in 1969, and its intended use was to communicate with various parts of the U.S. Government. I can use this knowledge to appreciate how the internet came to be; The internet is a life changing thing for everyone, including me, so I am somewhat curious about how it came to be. From the "Internet Connectivity" activity, I learned about the different connection types, and how they connect to the internet. I can use this in the future for when I live on my own, and have to figure all this stuff out by myself. 

	From the "Understanding Applications" activity, I learned the proper definition of an application. I already knew what an app was, but not the actual definition for it. An app is, something along the lines of, "a program that lets you do a specific task". I can use this information to help explain something to someone who is not as tech savvy as I am. From the "Keyboard Shortcuts" activity, I learned about being able to use Ctrl+B, I, or U, to bold, italicize, and underline a selected text. I work with apps like Photoshop, Illustrator, InDesign, and various other creative apps, and I already knew almost every shortcut, but I never knew those three shortcuts. I will be using these three shortcuts in the future when I do my graphic design work, a notepad, or in Google Drive. From the "Mouse Shortcuts" activity, I did not learn anything new. I have been using a computer everyday for the past 13-14 years of my life, so I already knew everything about mice, and all the shortcuts they can do. From the "Formatting Text" activity, I did not really learn anything new. I have been doing all these attention-grabbing tricks for as long as I have been writing documents on a computer, but I will continue to do these tricks for my whole life. 

	From the "How to Save a Document" activity, I did not learn anything new. I have known how to save documents for years. From the "Copy Documents to a USB Flash Drive From Your Computer" activity, I did not learn anything new. I have been using flash drives for such a long time; Not even just flash drives, but I have used SD cards so many times as well, and I am sure most people have as well. From the "How to Organize an Electronic Filing System", I did not learn anything new. I have known how to organize my files for years, and I always keep my desktop very clean and organized. 

	From the "Does IP Address Location (Geolocation) Really Work?", I learned that IP addresses are not always connected to a specific street name, but they are still connected to somewhere near wherever you are. I will use this knowledge in the future if I ever talk to someone about the importance of keeping your IP safe. 

	From the "How to indentify Traceroute to Identify Network Problems", I learned how to use the tracert command on my PC. I can use this in the future to see what is wrong if I try to connect to a website, but I end up not being able to connect. From the "tracerout-online.com" activity, I learned about this websites existence, and how it can be used similar to using the "tracert" command in the CMD prompt window. 
</p>