<head>
    <link rel="stylesheet" href="assignment style.css">
</head>

<p class="homebutton"><a href="../index.html">Home</a></p>
	<p>From the "TutorialsPoint: Web Browser" activity, I learned about the architecture of a web browser. Basically, there are three basic components that make up a web browser: Controller (Recieves input from a mouse and/or keyboard), interpreter (Recieves information from the controller), and the client program (Describes a protocal that is used to gain access to a specific website). I will be using this knowledge in the future to help me if I end up creating a web browser, or try to explain to someone about what a web browser is and how it works. Aside from this knowledge, I already knew everything else. I have used web browsers for years, and I can navigate one very easily. I recognize Google Chrome like the back of my hand. 
	From the "GCFLearnFree: Internet Tips" activity, I only learned that Microsoft will stop its support of Internet Explorer on August 17th, 2021. I have not used Internet Explorer since I was around 9 or 10 years old (That was 9-10 years ago). However, I do have several fond memories of Internet Explorer: I would use it to boot up old games on Miniclip, or play other Flash games. I would also use the browser to watch YouTube and do my homework. I have a lot of memories with the browser, and I am sad to know that it will be gone very soon. Aside from that, I already knew everything that the activity discussed, therefore I have nothing new to learn. I can use my knowledge of internet basics to help teach people about how to actually use the internet. I teach my parents all the time how to do stuff. 

	I downloaded Google Chrome and Firefox. I have used Google Chrome for the past 9-10 years, and it is a really good browser in my opinion. I installed Firefox and it was someone confusing at first since I am so used to the Google Chrome interface, but I soon learned that it is basically the exact same as Google Chrome; The buttons are just placed around in difference spots. 

	Some extensions that I use for Google Chrome indlude "AdblockPlus" to deal with annoying advertisments, "Honey" which is an extension that finds you coupons for when you order something from the internet, "Avast Online Security" because it has helped block viruses and scans websites to let me know if they are safe, and "Steam Inventory Helper" which is an extension I have not used for the past 5 years or so, but I did use it for when I played a lot of CS:GO, and I got into trading in-game items, and "Steam Inventory Helper" helped me a lot with that. 
</p> 