<head>
    <link rel="stylesheet" href="assignment style.css">
</head>

<p class="homebutton"><a href="../index.html">Home</a></p>
	<p>From the "TutorialsPoint: Internet Reference Models" activity, I learned about the OSI and the TCP/IP Model. The "OSI Model" is a reference model. "OSI" stands for "Open System Interface", and it is a model that consists of  seven layers: The Physical Layer (activates physical connections, defines data rates, converts digital bits into electric signals, and decides what type of connection is being used), the Data Link Layer (Detects and controls errors, the Network Layer (Routes signals to various channels, act as a controller, and divide messages), the Transport Layer (Decides if data should be transmitted), the Session Layer (Manages messages), the Presentation Layer (Makes sure that information is delivered), and the Application Layer (Provides difference services). However, The "OSI Model" is all just hypothetical. "TCP/IP" is an acronym for "Transmission Control Protocol" and "Internet Protocol". the TCP/IP Model has four layers: The Application Layer (Provides different services), the Transport Layer (The same as the one from the OSI Model), the Internet Layer (Allows the host to insert packets into the network), and the Host-to-Network Layer (When the hose connects to a network). I can use this information in the future to talk to someone about reference models. 

	From the "Microsoft: Change TCP/IP Settings" under the Windows category, I learned I can change my TCP/IP settings. I was unaware that I could do this, but now I know the steps of how to edit it. This knowledge could be useful in the future because I could help one of my friends with his internet, or if I have to edit some things with my own IP in the future, I could. 

	From the "Verify Physical Connection" activity, I did not learn anything new. I already have my PC connected up to the internet with an ethernet cable. I can use my knowledge of connecting computers wirelessly or wired in the future when I get new devices.
</p> 