<head>
    <link rel="stylesheet" href="assignment style.css">
</head>

<p class="homebutton"><a href="../index.html">Home</a></p>
	<p>From the "TutorialsPoint: Social Networking" activity, I learned about the existence of "Faceparty", "Flickr", "Ibibo", and "Hike". I never heard of these apps, and, frankly, I do not think I will be using these apps. Aside from learning the existence of these apps, and what they do, I did not learn anything new. I already knew about social media, and how it helps with jobs and marketing. I am surprised that "Snapchat" and "Instagram" were not listed in this activity, but there is probably a reason for that. I can use my knowledge of social media to help explain to people what a social media app is/does. For example, I once explained the app "Discord" to my dad. 

	From the activity where you sign up for various social I did not really learn anything new, aside from learning more about the app "LinkedIn". I already knew "LinkedIn" was an app mostly used for jobs, but after reading the tutorial for it, I learned that it is very important, and that maybe I should use LinkedIn next time I apply for a job. Other than that, I already knew about every other social media listed, as I use them all on a daily basis (Except Pinterest and Facebook, but I have used them in the past before). I use Instagram everyday to look at funny videos and talk with my friends, Snapchat to talk with my friends, and I go on Twitter sometimes to look at news for video games. 

	From the "Smart Insights: The Honeycomb Model" I think that Facebook, Instagram, Reddit, Twitter, and YouTube would be the best platforms to use, because you can self promote on all of them (identity), you can see people responses to whatever you put immediately (Presence), you can handle relationships with customers/viewers (Relationships), you can gain reputation from people sharing and talking about whatever you are marketing (Reputation), you can target an Ad to specific groups (Groups), you can converse with customers/viewers directly without the customer/viewer needing to email or call the company (Conversations), and you can share new information about whatever you are marketing (Sharing).
</p> 