
body{
    background-color: rgb(24, 24, 24);
}

h1{
    color: plum;
    text-align: center;
    border-bottom: 10px solid paleturquoise;
    padding: 10px;
    font-size: 35pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul{
    color: white;
}

.intro{ 
    margin: 10px;
    padding: 5px;
    color: paleturquoise; 
    border-bottom: 2px solid plum;
    font-size: 20pt;
    font-family: fantasy;
}
ol{
    color: rgb(20, 20, 20)
}

p{
    border-top: 2px white;
    color: rgb(207, 207, 207);
    font-family: cursive;

}

.homebutton{
    font-size: 30pt;
    margin-bottom: 10px;
}

.assignment12JS{
    font-size: 30pt;
    margin-bottom: 10px;
}

.SQLLIST{
    color: pink;
}

.ASSIGNMENT14 {
    color: lightblue;
    border-bottom: 2px solid lightblue;
    border-radius: 100px;
}