h1{
    color: orange;
    text-align: center;
    border-bottom: 1px solid orange;
    padding: 10px;
}

ol{
    color: gray
}

div{
    margin: 10px;
    padding: 10px;
    color: green; 
    border: 1px solid green;
}

.title{
    text-align: center;
    font-size: 18pt;
    color: #444444;
    border: none;
}

.content{
    width: 43%;
    display: inline-block;
    vertical-align: top;
    border-color: #dddddd;
    color: black
}

.footer{
    color: #aaaaaa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    border: none;
    border-top: 1px solid gray;
    text-align: center;
}