
body{
    background-color: rgb(24, 24, 24);
}

h1{
    color: plum;
    text-align: center;
    border-bottom: 10px solid paleturquoise;
    padding: 10px;
    font-size: 35pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.intro{ 
    margin: 10px;
    padding: 5px;
    color: paleturquoise; 
    border-bottom: 2px solid plum;
    font-size: 20pt;
    font-family: fantasy;
}
ol{
    color: rgb(20, 20, 20)
}

p{
    color: rgb(54, 54, 54);
    font-family: cursive;

}